<app-menuprincipal></app-menuprincipal>
<div class="contenedor">
    <!--MENU PRINCIPAL-->
    <app-amigos></app-amigos>
    <!--PERFIL-->
    <div id="snippetContent">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
       
        <div class="container">
            <div class="profile-page tx-13">
                <!--DIV PUBLICACIONES-->
                <div class="col-md-8 col-xl-6 middle-wrapper" *ngFor="let publicacion of publicaciones">
                    <div class="row">
                        <!--PUBLICACION-->
                        <div class="col-md-12 grid-margin">
                            <div class="card rounded">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="img-xs rounded-circle" src={{publicacion.img_user}} alt="">
                                            <div class="ml-2">
                                                <p>{{publicacion.nombre_user}}</p>
                                                <p class="tx-11 text-muted">{{publicacion.fecha_publicacion.toDate() |
                                                    date}}</p>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="mb-3 tx-14">{{publicacion.texto}}</p> <img class="img-fluid"
                                            src={{publicacion.img}} alt="">
                                    </div>
                                    <!--FOOTER DE LAS PUBLICACIONES-->
                                    <div class="card-footer">
                                        <div class="d-flex post-actions"> <a href="javascript:;"
                                                class="d-flex align-items-center text-muted mr-4"> <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-heart icon-md">
                                                    <path
                                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                    </path>
                                                </svg>
                                                <p class="d-none d-md-block ml-2">Like</p>
                                            </a> <a href="javascript:;"
                                                class="d-flex align-items-center text-muted mr-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-message-square icon-md">
                                                    <path
                                                        d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                                    </path>
                                                </svg>
                                                <p class="d-none d-md-block ml-2">Comment</p>
                                            </a> <a href="javascript:;" class="d-flex align-items-center text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-share icon-md">
                                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                                    <polyline points="16 6 12 2 8 6"></polyline>
                                                    <line x1="12" y1="2" x2="12" y2="15"></line>
                                                </svg>
                                                <p class="d-none d-md-block ml-2">Share</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>