
            @media (max-width: 767px) {
                .profile-page .profile-header .cover figure {
                    height: 110px;
                    overflow: hidden;
                }
            }
    
            @media (min-width: 2400px) {
                .profile-page .profile-header .cover figure {
                    height: 280px;
                    overflow: hidden;
                }
            }
    
           
    
            @media (max-width: 767px) {
                .profile-page .profile-header .cover figure img {
                    -webkit-transform: scale(2);
                    transform: scale(2);
                    margin-top: 15px;
                }
            }
    
            @media (min-width: 2400px) {
                .profile-page .profile-header .cover figure img {
                    margin-top: -55px;
                }
            }
    

    
            @media (max-width: 767px) {
                .profile-page .profile-header .cover .cover-body .profile-pic {
                    width: 70px;
                }
            }

            .img-xs {
                width: 37px;
                height: 37px;
            }
    
            .rounded-circle {
                border-radius: 50% !important;
            }
    
            img {
                vertical-align: middle;
                border-style: none;
                width: 50em;
                height: 25em;
            }
    
            .card-header:first-child {
                border-radius: 0 0 0 0;
            }
    
            .card-header {
                padding: 0.875rem 1.5rem;
                margin-bottom: 0;
                background-color: rgba(0, 0, 0, 0);
                border-bottom: 1px solid #f2f4f9;
            }
    
            .card-footer:last-child {
                border-radius: 0 0 0 0;
            }
    
            .card-footer {
                padding: 0.875rem 1.5rem;
                background-color: rgba(0, 0, 0, 0);
                border-top: 1px solid #f2f4f9;
            }
    
            .grid-margin {
                margin-bottom: 1rem;
            }
    
            .card {
                box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
                -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
                -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
                -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
            }
    
            .rounded {
                border-radius: 0.25rem !important;
            }
    
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #f2f4f9;
                border-radius: 0.25rem;
            }

            #snippetContent{
                margin-left: 30%;
            }

.contenedor{
    padding-top: 4em;
    background: linear-gradient(
        to right, #96fce9, #a1c5fa,#e6bcfa
    );
    animation: animate-bg 10s infinite ease-in-out;
}

@keyframes animate-bg {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}