<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<div class="contenedor">
    <div class="modal_body">
        <form action="" [formGroup]="form">
            <div class="input-group mb-3 inp">
                <img class="img-xs rounded-circle" src="{{me}}" alt="">
                
            </div>
            <div class="input-group mb-3 inp">
                <span class="input-group-text" id="basic-addon1" style="border: 1px solid black;">Descripcion</span>
                <input  formControlName="descripcion" class="form-control" placeholder="Descripcion" aria-label="Username" style="border: 1px solid black;" aria-describedby="basic-addon1">
                <button class="btn" style="border: 1px solid black; margin-left: 2em;" (click)="closeModal()">X</button>
            </div>
            <div class="input-group mb-3 inp_btn">
                <div>
                    <button class="btn2" style="border: 1px solid black; margin-left: 2em;"(click)="onSubmit()" >Comentar</button>
                </div>
               
            </div>
        </form>
    </div>
</div>