  <div class="card text-center cardContainer" *ngIf="usuarioLogeado">
    <div class="card-header">
      Chat
    </div>
    <div class="card-body">
      <div class="contenedorMensajes">
          <p *ngFor="let mensaje of mensajes" class="p-2"
          [ngClass]="(usuarioLogeado.uid==mensaje.emisor)? 'enviado' : 'recibido' ">
              {{mensaje.texto}}
          </p>
      </div>
    </div>
    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
            <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)] = "nuevoMensaje" [ngModelOptions]= "{standalone: true} ">
            <span (click)="send()" class="input-group-text" id="basic-addon2">
                <i class=" enviar fa-solid fa-paper-plane"></i>
            </span>
    </form>
  </div>