<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<app-publicaciones></app-publicaciones>
  <div class="card text-center cardContainer">
    <div class="card-header">
      Chat <span style="padding-left: 50%;"> <a href="#" routerLink="/home">X</a></span>
    </div>
    
    <div class="card-body">
      <div class="contenedorMensajes">
        <div *ngFor="let mensaje of mensajes; let indice = index">
          <p  class="p-2"
          [ngClass]="(usuarioLogeado.uid==mensaje.emisor)? 'enviado' : 'recibido'" *ngIf="mensaje.texto!=''">
            {{mensaje.texto}}
          </p>
        </div>
          
      </div>
    </div>
    <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
            <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)] = "nuevoMensaje" [ngModelOptions]= "{standalone: true} ">
            <span (click)="send()" class="input-group-text" id="basic-addon2">
                <i class=" enviar fa-solid fa-paper-plane"></i>
            </span>
    </form>
  </div>