.menuprincipal{
    list-style: none; 
}

.nav {
    margin-left: 2em;
    position: fixed;
    z-index: 10;
}

.form{
    margin-top: 1em;
    margin-left: 45em;
}
input{
    width: 10em;
    
}

button{
    margin-left:2em;
    border-radius: 10px;
}
button:hover{
    color: #fff;
    background-color: red;
    cursor: pointer;
}
@media (min-width: 900px) {
    .form{
        margin-left: 30em;
    }
    
}