<ul class="nlinks d-flex align-items-center mt-3 mt-md-0 nav" id="init">
    <li class="menuprincipal">
        <a routerLink="/home">PUCELANT</a>
    </li>
    <li class="menuprincipal">
        <a class="nav-link" (click)="perfil()"routerLink="" >PERFIL</a>
    </li>
    <li class="menuprincipal">
        <a class="nav-link" href="#" routerLink="/home">INICIO</a>
    </li>
    <li class="menuprincipal">
        <a class="nav-link" href="#" (click)="logout()" routerLink="">CERRAR SESION</a>
    </li>
    <li>
        <div class="input-group mb-3 form">
            <span class="input-group-text" id="basic-addon1">🔍︎</span>
            <form action="" (ngSubmit)="onSubmit()" [formGroup]="form">
                <input formControlName="buscado" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </form>
            <div (click)="openModal()">
                <button type="submit">Nueva Publicacion</button>
            </div>
            
            
        </div>
    </li>
</ul>
<div *ngIf="modalSwitch == true">
    <app-nueva-publicacion></app-nueva-publicacion>
</div>