*{
    margin: 0;
}
.login { 
  background-image: linear-gradient(
      to bottom right,
      #4affde 0%, #5d9dff 40%, #d06bff 60%, #ff34d2 100%
  );
  background-size: 200% 200%;
  animation: gradiente 5s linear infinite alternate;
  position : absolute;
  width : 100%;
  height : 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

img { 
    height: 40em;
}

.sec2 { 
    border-radius: 10px;
    width: 30%;
    height: 20em;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.inp { 
    margin-top: 10%;
}

.inp2 {
    margin-top: 5%;
}

.btn{
     margin-top: 2%;
     display: flex;
     justify-content: center;
     align-items: center;
}

@keyframes gradiente {
    from{ background-position: 0 0 ;}
    to {background-position: 100% 100%;}
}