
<div class="login">
    <h1 style="margin-left: 1em; margin-top: 0.5em;">PUCELANT</h1>
    <div class="main">
        <div class="sec1">
            <img src="https://userscontent2.emaze.com/images/7a6e5ada-72e3-4768-b987-333967d70618/b5dda26949f641f98e6fb56da507ccda.png" alt="PUCELANT">
        </div>    
        <div class="sec2">
            <form [formGroup]="form" >
                <div class="input-group mb-3 inp">
                    <span class="input-group-text" id="basic-addon1" style="border: 1px solid black;">Email</span>
                    <input formControlName="correo"  type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" style="border: 1px solid black;">
                </div>
                <div class="input-group mb-3 inp2">
                    <span class="input-group-text" id="basic-addon1" style="border: 1px solid black;">Contrasena</span>
                    <input  formControlName='pass' type="password" class="form-control" placeholder="Username" aria-label="Username" style="border: 1px solid black;" aria-describedby="basic-addon1">
                </div>
                <div class="btn">
                    <div class="btn">
                        <button type="submit" class="btn btn-primary" (click)="onEmail()">Ingresar</button>
                    </div>
                    <div class="btn">
                        <button type="submit" class="btn btn-primary" (click)="onGoogle()">Google</button>
                    </div>
                    <div class="btn">
                        <button type="submit" (click)="logout()" class="btn btn-primary">Facebook</button>
                    </div>
                </div> 
            </form>
        </div>  
    </div>
</div>